<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="styling.css">
  </head>

  <body>

    <header>
    <h1>Music App</h1>
    </header>

    <%= yield %>

    <% if flash[:errors] %>
      <h3><% flash[:errors].each do |error| %></h3>
        <%= error %>
      <% end %>
    <% end %>

  </body>
</html>
