<!DOCTYPE html>
<html>
  <head>
    <title>Cats99</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash[:messages] %>
        <h2><%= flash[:messages].join("") %></h2>
    <% end %>

    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <h2><%= error %></h2>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
